---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Booking">
  <PageIntro pageTitle="Booking" summary="Booking af pladser på de åbne ture skal ske senest kl. 13:00 på dagen. Det er nødvendigt at booke plads på de åbne ture. Ghosttour tager forbehold for aflysninger grundet manglende tilmeldinger, sygdom og meget dårligt vejr." />
  <h2 class="text-green-500">test</h2>
  <!-- <section class="pt-xxlarge max-w-screen-lg mx-auto">
    <form class="font-dm-sans grid md:grid-cols-2">
      <div>
        <label for="name">Dit fornavn og efternavn</label>
        <input type="text" id="name" name="name" class="form-input" placeholder="Fornavn Efternavn" inputmode="text" />
      </div>
      <div>
        <label for="phone">Dit telefonnummer</label>
        <input type="tel" id="phone" name="phone" class="form-input" placeholder="(0045)12345678" inputmode="tel" />
      </div>
      <div>
        <label for="email">Din e-mail adresse</label>
        <input type="email" id="email" name="email" class="form-input" placeholder="eksempel@mail.dk" inputmode="email" />
      </div>
      <div>
        <label for="tour">Vælg en byvandring</label>
        <select id="tour" name="tour" class="form-select">
          <option value="a">Spøgelsestur</option>
          <option value="b">Natmandstur</option>
          <option value="c">Menneskeskæbner</option>
        </select>
      </div>
      <div>
        <label for="date">Vælg en dato</label>
        <input type="date" id="date" name="date" class="form-input" />
      </div>
      <div>
        <label for="time">Vælg et tidspunkt</label>
        <input type="time" id="time" name="time" class="form-input" />
      </div>
      <div>
        <label for="participants">Antal deltagere</label>
        <input type="number" id="participants" name="participants" class="form-input" inputmode="numeric" />
      </div>
      <div>
        <label for="comments">Kommentarer/spørgsmål</label>
        <textarea id="comments" name="comments" class="form-textarea" placeholder="Tilføj en kommentar eller et spørgsmål her og vi vender tilbage hurtigst muligt."></textarea>
      </div>
    </form>
  </section> -->

  <form><label>Email</label><input type="email" /><input type="submit" /></form>
</MainLayout>

<style>
  /* form {
    display: grid;
    grid-template-columns: 2;
  }
  label {
  }

  section form div {
    padding-bottom: 1rem;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    margin-top: 0.25rem !important; }*/
</style>
