---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Booking">
  <PageIntro pageTitle="Booking" summary="Booking af pladser på de åbne ture skal ske senest kl. 13:00 på dagen. Det er nødvendigt at booke plads på de åbne ture. Ghosttour tager forbehold for aflysninger grundet manglende tilmeldinger, sygdom og meget dårligt vejr." />
  <section class="pt-32 max-w-screen-lg mx-auto">
    <form class="font-dm-sans">
      <div class="mb-4">
        <label for="name" class="block text-primary-text">Navn</label>
        <input type="text" id="name" name="name" class="form-input" placeholder="Fornavn Efternavn" inputmode="text" />
      </div>
      <div class="mb-4">
        <label for="phone" class="block text-primary-text">Telefonnummer</label>
        <input type="tel" id="phone" name="phone" class="form-input" placeholder="(0045)12345678" inputmode="tel" />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-primary-text">E-mail</label>
        <input type="email" id="email" name="email" class="form-input" placeholder="eksempel@mail.dk" inputmode="email" />
      </div>
      <div class="mb-4">
        <label for="tour" class="block text-primary-text">Tur</label>
        <select id="tour" name="tour" class="form-select">
          <option value="a">Spøgelsestur</option>
          <option value="b">Natmændstur</option>
          <option value="c">Menneskeskæbner</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="date" class="block text-primary-text">Dato</label>
        <input type="date" id="date" name="date" class="form-input" />
      </div>
      <div class="mb-4">
        <label for="time" class="block text-primary-text">Tidspunkt</label>
        <input type="time" id="time" name="time" class="form-input" />
      </div>
      <div class="mb-4">
        <label for="participants" class="block text-primary-text">Antal deltagere</label>
        <input type="number" id="participants" name="participants" class="form-input" inputmode="numeric" />
      </div>
      <div class="mb-4">
        <label for="comments" class="block text-primary-text">Kommentarer/spørgsmål</label>
        <textarea id="comments" name="comments" class="form-textarea" placeholder="Såfremt du har spørgsmål vedrørende vores ture eller kommentarer, er du velkommen til at skrive her"></textarea>
      </div>
    </form>
  </section>
</MainLayout>

<style>
  input,
  select,
  textarea {
    color: #9da3ae !important;

    width: 100%;
    background-color: rgba(248, 246, 242, 0.16);
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    margin-top: 0.25rem !important;
  }
</style>
