---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Booking">
  <PageIntro pageTitle="Booking" summary="Booking af pladser på de åbne ture skal ske senest kl. 13:00 på dagen. Det er nødvendigt at booke plads på de åbne ture. Ghosttour tager forbehold for aflysninger grundet manglende tilmeldinger, sygdom og meget dårligt vejr." />
  <section></section>
</MainLayout>
