---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Booking">
  <PageIntro pageTitle="Booking" summary="Booking af pladser på de åbne ture skal ske senest kl. 13:00 på dagen. Det er nødvendigt at booke plads på de åbne ture. Ghosttour tager forbehold for aflysninger grundet manglende tilmeldinger, sygdom og meget dårligt vejr." />

  <!-- <section class="sm:grid-cols-2 sm:grid max-w-screen-lg mx-auto gap-y-base gap-x-xlarge text-secondary-color pt-xlarge">
    <form class="py-base sm:py-0">
      <label>Dit fornavn</label><br />
      <input class="w-full" type="text" placeholder="Fornavn" inputmode="text" />
    </form>

    <form class="py-base sm:py-0">
      <label>Dit efternavn</label><br />
      <input class="w-full" type="text" placeholder="Efternavn" inputmode="text" />
    </form>

    <form class="py-base sm:py-0">
      <label>Dit telefonnummer</label><br />
      <input class="w-full" type="tel" placeholder="(0045)12345678" inputmode="tel" />
    </form>

    <form class="py-base sm:py-0">
      <label>Din e-mail adresse</label><br />
      <input class="w-full" type="email" placeholder="eksempel@mail.dk" inputmode="email" />
    </form>

    <form class="py-base sm:py-0" id="form_byvandring">
      <label>Vælg en byvandring</label><br />

      <input type="radio" id="spoegelsestur" name="fav_language" value="spoegelsestur" />
      <label for="spoegelsestur">Spøgelsestur</label><br />

      <input type="radio" id="natmaendstur" name="fav_language" value="natmaendstur" />
      <label for="natmaendstur">Natmændstur</label><br />

      <input type="radio" id="menneskeskaebner" name="fav_language" value="menneskeskaebner" />
      <label for="menneskeskaebner">Menneskeskæbner</label>
    </form>

    <form class="py-base sm:py-0">
      <label>Vælg en dato</label><br />
      <input id="date_placeholder" class="w-full" type="date" />
    </form>

    <form class="py-base sm:py-0">
      <label>Antal voksne</label><br />
      <input class="w-full" type="number" inputmode="numeric" />
    </form>

    <form class="py-base sm:py-0">
      <label>Antal børn</label><br />
      <input class="w-full" type="number" inputmode="numeric" />
    </form>

    <form class="sm:col-span-2 py-base sm:py-0">
      <label>Kommentarer/spørgsmål</label><br />
      <input class="w-full" type="text" placeholder="Tilføj en kommentar eller et spørgsmål og vi vender tilbage hurtigst muligt." inputmode="text" />
    </form>
  </section> -->

  <section class="max-w-screen-lg mx-auto text-secondary-color pt-xxxlarge">
    <form class="sm:grid-cols-2 sm:grid gap-x-xlarge text-secondary-color">
      <label for="fornavn">Dit fornavn</label><br />
      <input id="fornavn" class="w-full" type="text" placeholder="Fornavn" inputmode="text" />

      <label for="efternavn">Dit efternavn</label><br />
      <input id="efternavn" class="w-full" type="text" placeholder="Efternavn" inputmode="text" />

      <label for="telefonnummer">Dit telefonnummer</label><br />
      <input id="telefonnummer" class="w-full" type="tel" placeholder="(0045)12345678" inputmode="tel" />

      <label for="email">Din e-mail adresse</label><br />
      <input id="email" class="w-full" type="email" placeholder="eksempel@mail.dk" inputmode="email" />

      <label class="col-span-2">Vælg en byvandring</label>

      <input class="col-start-1" type="radio" id="spoegelsestur" name="byvandring" value="spoegelsestur" />
      <label class="col-start-1" for="spoegelsestur">Spøgelsestur</label><br />

      <input class="col-start-1" type="radio" id="natmaendstur" name="byvandring" value="natmaendstur" />
      <label class="col-start-1" for="natmaendstur">Natmændstur</label><br />

      <input class="col-start-1" type="radio" id="menneskeskaebner" name="byvandring" value="menneskeskaebner" />
      <label class="col-start-1" for="menneskeskaebner">Menneskeskæbner</label><br />

      <label for="dato">Vælg en dato</label><br />
      <input id="dato" class="w-full" type="date" />

      <label for="antal-voksne">Antal voksne</label><br />
      <input id="antal-voksne" class="w-full" type="number" inputmode="numeric" />

      <label for="antal-boern">Antal børn</label><br />
      <input id="antal-boern" class="w-full" type="number" inputmode="numeric" />

      <label for="kommentar">Kommentarer/spørgsmål</label><br />
      <input id="kommentar" class="w-full" type="text" placeholder="Tilføj en kommentar eller et spørgsmål og vi vender tilbage hurtigst muligt." inputmode="text" />
    </form>
  </section>
</MainLayout>

<style>
  /* #form_byvandring input {
    margin: 1rem !important;
  } */

  #date_placeholder {
    color: #9da3ae;
  }

  input {
    margin-top: 0.25rem !important;
    padding: 0.25rem 1rem !important;
  }

  label {
    color: #f8f6f2;
  }

  /* form {
    color: turquoise !important;
    width: max-content;
  } */

  /* form {
    display: grid;
    grid-template-columns: 2;
  }
  label {
  }

  section form div {
    padding-bottom: 1rem;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    margin-top: 0.25rem !important; }*/
</style>
