---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Cookie politik">
  <PageIntro pageTitle="Cookie politik" summary="Ved at bruge vores hjemmeside accepterer du brugen af cookies i overensstemmelse med denne cookiepolitik. Vi anbefaler, at du læser politikken omhyggeligt for at forstå, hvordan vi bruger cookies. " />
  <section class="pt-32 max-w-screen-lg mx-auto grid md:grid-cols-2 gap-16">
    <p>
      Hvad er cookies? Cookies er små tekstfiler, der gemmes på din enhed (computer, mobiltelefon eller tablet), når du besøger vores hjemmeside. Disse filer indeholder anonyme oplysninger, der bruges til at huske dine præferencer, forbedre brugeroplevelsen og indsamle statistikker om besøg på vores hjemmeside. Typer af cookies: Vi bruger følgende typer af cookies på vores hjemmeside: Nødvendige cookies: Disse cookies er afgørende for, at hjemmesiden kan fungere korrekt. De tillader dig at navigere på siden og bruge vigtige funktioner som f.eks. sikkerhed og indkøbskurven. Præferencecookies: Disse cookies husker dine valg og præferencer under dit besøg på vores hjemmeside. De hjælper os med at levere en mere personlig oplevelse og gøre det lettere for dig at bruge hjemmesiden i fremtiden.
      Statistikcookies: Disse cookies hjælper os med at indsamle anonyme statistikker om besøg og brug af vores hjemmeside. Vi bruger disse oplysninger til at analysere og forbedre vores hjemmeside og til at måle effektiviteten af vores markedsføringskampagner.
    </p>
    <p>
      Brugerens samtykke: Ved at acceptere vores cookiepolitik eller ved at fortsætte med at bruge vores hjemmeside giver du dit samtykke til brugen af cookies i overensstemmelse med denne politik. Du har mulighed for at administrere eller deaktivere cookies i din browserindstilling eller ved at bruge andre værktøjer. Bemærk, at visse dele af vores hjemmeside muligvis ikke fungerer korrekt, hvis du deaktiverer visse cookies. Datalagring og sikkerhed: Vi opbevarer og beskytter dine data i overensstemmelse med gældende databeskyttelseslove. Vi deler ikke dine personoplysninger med tredjeparter uden dit samtykke, medmindre det er nødvendigt for at levere vores tjenester eller i overensstemmelse med lovkrav. Ændringer i cookiepolitikken: Vi forbeholder os retten til at ændre denne
      cookiepolitik. Eventuelle ændringer vil blive offentliggjort på vores hjemmeside. Vi opfordrer dig til regelmæssigt at besøge vores hjemmeside for at holde dig opdateret om eventuelle ændringer. Kontakt os: Hvis du har spørgsmål til ovenstående på info@ghosttour.dk
    </p>
  </section>
</MainLayout>
