---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Handels betingelser">
  <PageIntro pageTitle="Handels betingelser" summary="Disse handelsbetingelser gælder for køb af billetter og tjenester fra Ghosttour. Ved at foretage et køb hos os accepterer du følgende vilkår og betingelser:" />
  <section class="pt-32 max-w-screen-lg mx-auto grid md:grid-cols-2 gap-16">
    <p>
      Køb og betaling: 1.1. Du kan købe billetter og tjenester fra Ghosttour via vores hjemmeside eller andre autoriserede kanaler. 1.2. Betaling for billetter og tjenester skal ske i overensstemmelse med de angivne betalingsmuligheder på tidspunktet for købet. 1.3. Priserne angivet på vores hjemmeside er i danske kroner (DKK) og inkluderer gældende moms og andre relevante afgifter, medmindre andet er angivet. Billetter: 2.1. Billetter købt hos Ghosttour er gyldige til det specificerede tidspunkt og sted for den valgte tur eller arrangement. 2.2. Billetter kan ikke overføres til andre personer uden forudgående skriftlig tilladelse fra Ghosttour. 2.3. Billetter refunderes ikke medmindre andet er angivet i overensstemmelse med gældende lovgivning. Fortrydelsesret: 3.1. Ghosttour tilbyder
      ikke en fortrydelsesret for billetkøb i overensstemmelse med undtagelserne i Forbrugeraftaleloven, § 17, stk. 2, nr. 6. 3.2. Hvis en tur eller tjeneste ikke kan gennemføres som planlagt af Ghosttour, vil køberen have mulighed for at få refunderet billetprisen eller modtage en erstatning i henhold til gældende lovgivning.
    </p>
    <p>
      Ansvarsfraskrivelse: <br /> 4.1. Ghosttour påtager sig intet ansvar for personskade, tab eller skader, der måtte opstå som følge af deltagelse i vores ture eller arrangementer, medmindre det skyldes grov uagtsomhed eller forsætligt misbrug fra vores side. 4.2. Vi påtager os heller ikke ansvar for tab eller skader, der skyldes force majeure-begivenheder eller andre omstændigheder uden for vores kontrol. Klager og tvister: <br /> 5.1. Eventuelle klager vedrørende vores ture eller tjenester skal fremsættes skriftligt inden for en rimelig tid efter oplevelsen. 5.2. Enhver tvist mellem Ghosttour og kunden vil blive forsøgt løst i mindelighed. Hvis en sådan løsning ikke opnås, kan tvisten indbringes for de relevante danske domstole i henhold til gældende lovgivning. Ændringer i handelsbetingelserne:
      6.1. Ghosttour forbeholder sig retten til at ændre disse handelsbetingelser uden forudgående varsel. Eventuelle ændringer vil blive offentliggjort på vores hjemmeside. 6.2. Det er dit ansvar som kunde at holde dig opdateret om eventuelle ændringer i handelsbetingelserne.
    </p>
  </section>
</MainLayout>
