---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Handels betingelser">
  <PageIntro pageTitle="Handels betingelser" summary="Disse handelsbetingelser gælder for køb af billetter og tjenester fra Ghosttour. Ved at foretage et køb hos os accepterer du følgende vilkår og betingelser:" />
  <section class="pt-xxlarge max-w-screen-lg mx-auto grid md:grid-cols-2 gap-xlarge">
    <p>
      1. Køb og betaling: <br />1.1. Du kan købe billetter og tjenester fra Ghosttour via vores hjemmeside eller andre autoriserede kanaler.<br /> 1.2. Betaling for billetter og tjenester skal ske i overensstemmelse med de angivne betalingsmuligheder på tidspunktet for købet.<br /> 1.3. Priserne angivet på vores hjemmeside er i danske kroner (DKK) og inkluderer gældende moms og andre relevante afgifter, medmindre andet er angivet. <br /><br />2. Billetter:<br /> 2.1. Billetter købt hos Ghosttour er gyldige til det specificerede tidspunkt og sted for den valgte tur eller arrangement.<br /> 2.2. Billetter kan ikke overføres til andre personer uden forudgående skriftlig tilladelse fra Ghosttour.<br /> 2.3. Billetter refunderes ikke medmindre andet er angivet i overensstemmelse med gældende lovgivning.
      <br /><br />3. Fortrydelsesret:<br /> 3.1. Ghosttour tilbyder ikke en fortrydelsesret for billetkøb i overensstemmelse med undtagelserne i Forbrugeraftaleloven, § 17, stk. 2, nr. 6.<br /> 3.2. Hvis en tur eller tjeneste ikke kan gennemføres som planlagt af Ghosttour, vil køberen have mulighed for at få refunderet billetprisen eller modtage en erstatning i henhold til gældende lovgivning.
    </p>
    <p>
      4. Ansvarsfraskrivelse: <br /> 4.1. Ghosttour påtager sig intet ansvar for personskade, tab eller skader, der måtte opstå som følge af deltagelse i vores ture eller arrangementer, medmindre det skyldes grov uagtsomhed eller forsætligt misbrug fra vores side. <br />4.2. Vi påtager os heller ikke ansvar for tab eller skader, der skyldes force majeure-begivenheder eller andre omstændigheder uden for vores kontrol. <br /><br />5. Klager og tvister: <br /> 5.1. Eventuelle klager vedrørende vores ture eller tjenester skal fremsættes skriftligt inden for en rimelig tid efter oplevelsen.<br /> 5.2. Enhver tvist mellem Ghosttour og kunden vil blive forsøgt løst i mindelighed. Hvis en sådan løsning ikke opnås, kan tvisten indbringes for de relevante danske domstole i henhold til gældende lovgivning.
      <br /><br />6. Ændringer i handelsbetingelserne:
      <br />6.1. Ghosttour forbeholder sig retten til at ændre disse handelsbetingelser uden forudgående varsel. Eventuelle ændringer vil blive offentliggjort på vores hjemmeside.<br /> 6.2. Det er dit ansvar som kunde at holde dig opdateret om eventuelle ændringer i handelsbetingelserne.
    </p>
  </section>
</MainLayout>
