---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Om os">
  <PageIntro pageTitle="Om os" summary="Ghosttour startede i 2004, fordi der var et behov for at at bringe det gemte København frem i lyset. Vores historier er alle øjenvidneberetninger eller hentet fra historiske kilder." />
  <section class="pt-xxlarge max-w-screen-lg mx-auto grid md:grid-cols-2 gap-xlarge">
    <article>
      <h2 class="text-xxlarge font-bold pb-large">Vores historiefortællere</h2>
      <p>
        Ghosttour har et team af historiefortællere med stor erfaring indenfor faget. Blandt dem er musikere, formidlere og skuespillere.<br /><br />

        Har du erfaring indenfor historiefortælling samt lyst til at fortælle om spøgelser og andre makabre historier fra det gamle København? Så skriv til os: elin@ghosttour.dk<br /><br />

        Ghosttour.dk er medlem af Københavns Byvandrerlaug.
      </p>
    </article>
    <article>
      <h2 class="text-xxlarge font-bold pb-large">Ledelsen</h2>
      <section class="grid sm:grid-cols-2 gap-xlarge">
        <div><img src="/imgs/testimonial_02.webp" alt="" /><p>Nynne Vidgren <br /> Cand.Mag. i Historie og Kunsthistorie. <br /> Ejer.</p></div>
        <div><img src="/imgs/testimonial_02.webp" alt="" /><p>Elin Fredrikson <br /> Skuespiller og kreativ konsulent <br /> Konceptudvikling, og ansættelse.</p></div>
      </section>
    </article>
  </section>
</MainLayout>
