---
import MainLayout from "../layouts/MainLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<MainLayout title="Privatlivs politik">
  <PageIntro pageTitle="Privatlivs politik" summary="Din fortrolighed er vigtig for os. Denne privatlivspolitik beskriver, hvordan Ghosttour indsamler, bruger og beskytter de personlige oplysninger, du giver os, når du bruger vores hjemmeside. " />
  <section class="pt-32 max-w-screen-lg mx-auto grid md:grid-cols-2 gap-16">
    <p>
      Vi følger gældende databeskyttelseslove, herunder EU's generelle forordning om databeskyttelse (GDPR). Indsamling og brug af personlige oplysninger: Vi indsamler kun personlige oplysninger, som du frivilligt giver os, når du kontakter os via vores kontaktformular, tilmelder dig vores nyhedsbrev eller køber billetter til vores ture. Disse oplysninger kan omfatte dit navn, din e-mailadresse og telefonnummer. Vi bruger disse oplysninger til at besvare dine forespørgsler, levere vores tjenester og give dig relevant information om vores ture og arrangementer. Beskyttelse af personlige oplysninger: Vi tager rimelige foranstaltninger for at beskytte dine personlige oplysninger mod uautoriseret adgang, ændring eller videregivelse. Vi bruger passende tekniske og organisatoriske
      sikkerhedsforanstaltninger for at beskytte dine data. Databehandling og deling af personlige oplysninger: Vi behandler og opbevarer dine personlige oplysninger i overensstemmelse med gældende lovgivning. Vi deler ikke dine personlige oplysninger med tredjeparter uden dit samtykke, medmindre det er nødvendigt for at levere vores tjenester eller i overensstemmelse med lovkrav.
    </p>
    <p>
      Brug af cookies: Vi bruger cookies på vores hjemmeside. Ved at bruge vores hjemmeside accepterer du brugen af cookies i overensstemmelse med vores cookiepolitik. Du kan læse mere om vores brug af cookies og administrere dine cookie-indstillinger i vores cookiepolitik. Dine rettigheder: Du har ret til at få adgang til, rette eller slette de personlige oplysninger, vi har om dig. Hvis du ønsker at udøve dine rettigheder, bedes du kontakte os på [e-mailadresse]. Vi vil bestræbe os på at håndtere dine anmodninger hurtigst muligt. Ændringer i privatlivspolitikken: Vi forbeholder os retten til at ændre denne privatlivspolitik. Eventuelle ændringer vil blive offentliggjort på vores hjemmeside. Vi opfordrer dig til regelmæssigt at besøge vores hjemmeside for at holde dig opdateret om
      eventuelle ændringer. Kontakt os: Hvis du har spørgsmål eller bekymringer vedrørende vores privatlivspolitik eller vores behandling af dine personlige oplysninger, er du velkommen til at kontakte os på info@ghosttour.dk
    </p>
  </section>
</MainLayout>
