---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Spoegelsestur">
  <section class="grid grid-cols-8 text-black">
    <article class="col-span-2 col-start-3 h-60 w-60">
      <div id="typewriter" class="typewriter"></div>
    </article>
  </section>
</MainLayout>

<style>
  @keyframes typewriter-animation {
    from {
      width: 0;
    }
  }

  .typewriter {
    white-space: pre-line;
    overflow: hidden;
    animation: typewriter-animation 5s steps(40) forwards;
    background-image: url(/imgs/white_paper_bg.webp);
  }
</style>

<script>
  const typewriterElement = document.getElementById("typewriter");
  const text = "Hør historier om helt almindelige menneskers oplevelser med spøgelser"; // Custom tekst

  function setTextWithTypewriterEffect() {
    let index = 0;
    let typewriterText = "";

    function typeWriter() {
      typewriterText += text.charAt(index);
      typewriterElement.textContent = typewriterText;
      index++;

      if (index < text.length) {
        setTimeout(typeWriter, 100); // Hastigheden på skrivemaskineeffekten (i millisekunder)
      }
    }

    setTimeout(typeWriter, 1000); // Start skrivemaskineeffekten efter 1 sekunder
  }

  // Lyt efter scroll-begivenheden og udfør funktionen, når elementet er synligt på skærmen
  window.addEventListener("scroll", function () {
    const rect = typewriterElement.getBoundingClientRect();
    const isVisible = rect.top < window.innerHeight && rect.bottom >= 0;

    if (isVisible) {
      setTextWithTypewriterEffect();
      window.removeEventListener("scroll", arguments.callee);
    }
  });
</script>
