---
import ByvandringDetaljer from "./ByvandringDetaljer.astro";
import ByvandringAfgange from "./ByvandringAfgange.astro";
---

<div itemscope itemtype="https://schema.org/SocialEvent">
  <section class="grid md:grid-cols-2 gap-16 max-w-screen-lg mx-auto">
    <ByvandringDetaljer byvandringNavn="Natmændstur" byvandringReview="Opdag den glemte historie om natmændene i København - et parallelsamfund af udstødte. Makabre opgaver, indædte magtkampe og en forsvundet sang, der nu genlyder." timer="1" minutter="15" distance="0.9" start="Højbro Plads" slut="Skt. Peders Stræde" voksenPris="120" barnPris="60">
      <img class="w-full" src="imgs/ghosttour_natmandstur_01.webp" alt="Fotografi som præsenterer Ghosttours tur om natmænd. På billedet ses en hestevogn på Kongens Nytorv i en dunkel belysning." />
    </ByvandringDetaljer>

    <!-- TABEL MED INFO OM AFGANG -->
    <table class="col-span-1 h-min">
      <thead>
        <tr class="text-tertiary-color font-dm-sans items-start text-left bg-primary-color bg-opacity-[16%]">
          <th class="py-small px-base"></th>
          <th itemprop="startDate" class="py-small px-base">Dato</th>
          <th class="py-small px-base"></th>
          <th itemprop="doorTime" class="py-small px-base">Klokkeslet</th>
        </tr>
      </thead>
      <tbody class="w-full">
        <ByvandringAfgange dato="11/08-2023" klokkeslet="20:00" />

        <ByvandringAfgange dato="28/07-2023" klokkeslet="20:00" />
        <ByvandringAfgange dato="14/07-2023" klokkeslet="20:00" />
        <ByvandringAfgange dato="31/06-2023" klokkeslet="20:00" />
        <ByvandringAfgange dato="17/06-2023" klokkeslet="20:00" />
        <ByvandringAfgange dato="03/06-2023" klokkeslet="20:00" />
        <ByvandringAfgange dato="20/05-2023" klokkeslet="20:00" />
        <ByvandringAfgange dato="06/05-2023" klokkeslet="20:00" />
      </tbody>
    </table>
  </section>
</div>
