---
import ByvandringDetaljer from "./ByvandringDetaljer.astro";
import ByvandringAfgange from "./ByvandringAfgange.astro";
---

<section class="grid md:grid-cols-2 gap-16 max-w-screen-lg mx-auto">
  <ByvandringDetaljer timer="1" minutter="30" start="Gråbrødre Torv" slut="Vestergade" voksenPris="120" barnPris="60">
    <img class="w-full" src="imgs/ghosttour_spoegelsestur_01.webp" alt="" />
  </ByvandringDetaljer>

  <table class="col-span-1 h-min">
    <thead>
      <tr class="text-tertiary-color font-dm-sans items-start text-left bg-primary-color bg-opacity-[16%]">
        <th class="py-small px-base"></th>
        <th class="py-small px-base">Dato</th>
        <th class="py-small px-base"></th>
        <th class="py-small px-base">Klokkeslet</th>
      </tr>
    </thead>
    <tbody class="w-full">
      <ByvandringAfgange dato="02/06-2023" klokkeslet="21:00" />
      <ByvandringAfgange dato="26/05-2023" klokkeslet="21:00" />
      <ByvandringAfgange dato="19/05-2023" klokkeslet="21:00" />
      <ByvandringAfgange dato="12/05-2023" klokkeslet="21:00" />
    </tbody>
  </table>
</section>
