---
import ByvandringDetaljer from "./ByvandringDetaljer.astro";
import ByvandringAfgange from "./ByvandringAfgange.astro";
---

<div itemscope itemtype="https://schema.org/SocialEvent">
  <section class="md:grid md:grid-cols-2 gap-x-xlarge max-w-screen-lg mx-auto">
    <ByvandringDetaljer byvandringNavn="Menneskeskæbner" byvandringReview="Dyk ned i Københavns finurlige historie og opdag de gemte vandrehistorier. Hør sjove fortællinger om menneskeskæbner, der har formet byen. Vi vækker disse unikke fortællinger." timer="1" minutter="15" distance="1.5" start="Vor Frue Kirke" slut="Nyhavn" voksenPris="120" barnPris="60">
      <img class="w-full" src="/imgs/ghosttour_menneskeskaebnertur_01.webp" alt="Fotografi som præsenterer Ghosttours tur om menneskeskæbner. Portrætteret er en mand set i København i ældre tid." />
    </ByvandringDetaljer>

    <!-- TABEL MED INFO OM AFGANG -->
    <table class="col-span-1 h-min text-small mt-large md:mt-0 w-full">
      <thead>
        <tr class="font-dm-sans items-start text-left bg-primary-color bg-opacity-[16%]">
          <th class="py-small px-base"></th>
          <th itemprop="startDate" class="py-small px-base">Dato</th>
          <th class="py-small px-base"></th>
          <th itemprop="doorTime" class="py-small px-base">Klokkeslet</th>
        </tr>
      </thead>
      <tbody class="w-full">
        <ByvandringAfgange dato="30/06-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="23/06-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="16/06-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="09/06-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="02/06-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="26/05-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="19/05-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="12/05-2023" klokkeslet="19:30" />
        <ByvandringAfgange dato="05/05-2023" klokkeslet="19:30" />
      </tbody>
    </table>
    <a class="pt-base hidden md:block" href="/spoegelsestur"><img class="h-large w-auto mt-base animate-pulse" src="/imgs/ghosttour_webfeature.svg" alt="Custom lavet klikbart element, som fører dig videre til en web feature." /></a>

    <button class="flex items-end gap-base text-large font-medium text-left col-start-2 pb-xxsmall" type="button">
      <a href="/booking">Book byvandring</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#f8f6f2" d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8Z"></path></svg>
    </button>
  </section>
</div>

<style>
  @keyframes moveRightFadeIn {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(64px);
      opacity: 1;
    }
  }

  button svg {
    animation: moveRightFadeIn 1800ms infinite;
    animation-delay: 0s;
  }
</style>
