---
---

<!-- FOOTER -->
<nav>
  <ul class="grid md:grid-cols-4">
    <li>
      Kontakt <ul>
        <li>Ghosttour</li>
        <li>info@ghosttour.dk</li>
        <li>CVR nr. ########</li>
      </ul>
    </li>
    <li>
      Sikkerhed <ul>
        <li>Handelsbetingelser</li>
        <li>Privatlivspolitik</li>
        <li>Cookie politik</li>
      </ul>
    </li>
    <li>
      Øvrige
      <ul>
        <li>Om os</li>

        <li>Job</li>
      </ul>
    </li>
    <li></li>
  </ul>
</nav>
