---
---

<!-- HEADER SECTION -->
<nav>
  <ul class="flex justify-between text-[35px] text-brand-color font-special-elite text-7">
    <!-- <li><img src="" alt="" /></li> -->
    <li class="text-primary-text">Ghosttour</li>
    <li>Byvandringer</li>
    <li>Booking</li>
    <li>Om os</li>
    <li>In English</li>
  </ul>
</nav>
