---
---

<!-- HERO SECTION -->
<section class="grid md:grid-cols-2 gap-8">
  <div><img src="" alt="" /></div>
  <article>
    <h1>Ghosttour</h1>
    <h2>Hos Ghosttour viderefører vi den gamle historiefortæller tradition. Vi guider dig igennem indre Københavns gader med os som redskaber, har vi vores ord, kroppe og stemmer.</h2>
    <button>Book min byvandring</button>
  </article>
</section>
