---
---

<!-- HERO SECTION -->
<section class="grid md:grid-cols-2 gap-8 pt-32">
  <div><img src="" alt="" /></div>
  <article class="gap-8">
    <h1 class="font-special-elite text-brand-color text-[85px] leading-none">Chokerende oplevelser</h1>
    <h2>Hos Ghosttour viderefører vi den gamle historiefortæller tradition. Vi guider dig igennem indre Københavns gader med os som redskaber, har vi vores ord, kroppe og stemmer.</h2>
    <a class="flex items-center gap-4 py-2 px-8 bg-primary-text" href="#">
      <button class="text-brand-color font-medium">Find din byvandring</button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#c01111" d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8Z"></path></svg>
    </a>
  </article>
</section>
