---
---

<!-- HERO SECTION -->
<section class="grid md:grid-cols-2 gap-8 pt-32">
  <div><img src="imgs/ghosttour_landing_01.webp" alt="" /></div>
  <article class="grid gap-8">
    <h1 class="font-special-elite text-brand-color text-[55px] md:text-[85px] leading-none">Chokerende oplevelser</h1>
    <p class="text-[23px] leading-normal">Hos Ghosttour viderefører vi den gamle historiefortæller tradition. Vi guider dig igennem indre Københavns gader med os som redskaber, har vi vores ord, kroppe og stemmer.</p>

    <button class="text-brand-color font-medium text-[23px] flex items-center gap-4 py-2 pl-8 pr-20 bg-primary-text w-max" type="button">
      <a href="/byvandringer">Find din byvandring</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#c01111" d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8Z"></path></svg>
    </button>
  </article>
</section>

<style>
  @keyframes moveRightFadeIn {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(64px);
      opacity: 1;
    }
  }

  button svg {
    animation: moveRightFadeIn 1800ms infinite;
    animation-delay: 0s;
  }
</style>
