---
import HighlightCard from "./HighlightCard.astro";
---

<h2 class="text-xxlarge font-bold pt-xxxlarge pb-large">Udvalgte byvandringer</h2>

<section class="grid md:grid-cols-3 gap-xlarge max-w-screen-lg mx-auto">
  <a href="/spoegelsestur">
    <HighlightCard tourTitle="Spøgelsestur" summary="Få kendskab til Københavns skjulte spøgelseshistorier. Oplev spøgelsernes ånder i Det Grønlandske Hus, føl sulten i Gjeddegården og udforsk byens ældste kirkegård.">
      <img class="w-full" src="imgs/ghosttour_spoegelsestur_02.webp" alt="Fotografi som præsenterer Ghosttours tur om spøgelser. I modlys ses en silhouette af en person. Er det et spøgelse?" />
    </HighlightCard></a
  >

  <HighlightCard tourTitle="Natmandstur" summary="Opdag den glemte historie om natmændene i København - et parallelsamfund af udstødte. Makabre opgaver, indædte magtkampe og en forsvundet sang, der nu genlyder.">
    <img class="w-full" src="imgs/ghosttour_natmandstur_02.webp" alt="Fotografi som præsenterer Ghosttours tur om natmænd. På billedet ses en hestevogn på Kongens Nytorv i en dunkel belysning." />
  </HighlightCard>
  <HighlightCard tourTitle="Menneskeskæbner" summary="Dyk ned i Københavns finurlige historie og opdag de gemte vandrehistorier. Hør sjove fortællinger om menneskeskæbner, der har formet byen. Vi vækker disse unikke fortællinger.">
    <img class="w-full" src="imgs/ghosttour_menneskeskaebnertur_02.webp" alt="Fotografi som præsenterer Ghosttours tur om menneskeskæbner. Portrætteret er en mand set i København i ældre tid." />
  </HighlightCard>
</section>

<button class="flex items-end gap-base pt-xxlarge text-xxlarge font-bold text-left" type="button">
  <a href="/byvandringer">Se alle <br class="sm:hidden" /> byvandringer</a>
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#f8f6f2" d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8Z"></path></svg>
</button>

<style>
  @keyframes moveRightFadeIn {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(64px);
      opacity: 1;
    }
  }

  button svg {
    animation: moveRightFadeIn 1800ms infinite;
    animation-delay: 0s;
  }
</style>
