---
import HighlightCard from "./HighlightCard.astro";
---

<h2 class="text-[35px] font-medium pt-64">Udvalgte byvandringer</h2>

<section class="grid md:grid-cols-3 gap-8">
  <HighlightCard tourTitle="Spøgelsestur" summary="Menneskeskæbner er ikke hvilke som helst historier - det er vandrehistorier, fortællinger og anekdoter, der med deres udgangspunkt i København har været med til at skabe finurlige hjørner af Københavns historie.">
    <img class="w-full" src="imgs/testimonial_avatar_01.webp" alt="" />
  </HighlightCard>
  <HighlightCard tourTitle="Natmandstur" summary="Natmændene udgjorde i 300 år den absolutte bund af det danske samfund. De var født til at udføre arbejde som ingen respektable borgere eller fattigfolk ville røre ved – f.eks. at partere henrettede forbrydere. Natmændene og deres familier udviklede sig til et parallelsamfund, med deres egne regler og sprog.">
    <img class="w-full" src="imgs/testimonial_avatar_01.webp" alt="" />
  </HighlightCard>
  <HighlightCard tourTitle="Menneskeskæbner" summary="Menneskeskæbner er ikke hvilke som helst historier - det er vandrehistorier, fortællinger og anekdoter, der med deres udgangspunkt i København har været med til at skabe finurlige hjørner af Københavns historie.">
    <img class="w-full" src="imgs/testimonial_avatar_01.webp" alt="" />
  </HighlightCard>
</section>
<div class="flex items-center gap-4">
  <h2 class="text-[35px] font-medium">Se alle byvandringer</h2>

  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#f8f6f2" d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8Z"></path></svg>
</div>
