---
import HighlightCard from "./HighlightCard.astro";
---

<h2 class="text-[35px] font-bold pt-64 pb-8">Udvalgte byvandringer</h2>

<section class="grid md:grid-cols-3 gap-16 max-w-screen-lg mx-auto">
  <HighlightCard tourTitle="Spøgelsestur" summary="Få kendskab til Københavns skjulte spøgelseshistorier. Oplev spøgelsernes ånder i Det Grønlandske Hus, føl sulten i Gjeddegården og udforsk byens ældste kirkegård.">
    <img class="w-full" src="imgs/spoegelsestur_01.webp" alt="" />
  </HighlightCard>
  <HighlightCard tourTitle="Natmandstur" summary="Opdag den glemte historie om natmændene i København - et parallelsamfund af udstødte. Makabre opgaver, indædte magtkampe og en forsvundet sang, der nu genlyder.">
    <img class="w-full" src="imgs/natmandstur_01.webp" alt="" />
  </HighlightCard>
  <HighlightCard tourTitle="Menneskeskæbner" summary="Dyk ned i Københavns finurlige historie og opdag de gemte vandrehistorier. Hør sjove fortællinger om menneskeskæbner, der har formet byen. Vi vækker disse unikke fortællinger.">
    <img class="w-full" src="imgs/menneskeskaebner_01.webp" alt="" />
  </HighlightCard>
</section>
<div class="flex items-center gap-4 pt-64">
  <h2 class="text-[35px] font-bold">Se alle byvandringer</h2>

  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#f8f6f2" d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8Z"></path></svg>
</div>

<style>
  @keyframes moveRightFadeIn {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(64px);
      opacity: 1;
    }
  }

  div svg {
    animation: moveRightFadeIn 1800ms infinite;
    animation-delay: 0s;
  }
</style>
