---
const { tourTitle, summary } = Astro.props;
---

<article>
  <slot />
  <h3 class="font-special-elite text-xlarge pt-4 text-brand-color">{tourTitle}</h3>
  <p class="leading-normal pt-2">{summary}</p>
</article>
