---
const { tourTitle, summary } = Astro.props;
---

<article>
  <slot />
  <h3 class="font-dm-sans text-xlarge pt-base text-primary-color font-bold">{tourTitle}</h3>
  <p class="leading-normal pt-small">{summary}</p>
</article>
