---
const { tourTitle, summary } = Astro.props;
---

<article>
  <slot />
  <h3 class="font-special-elite text-xlarge pt-base text-brand-color">{tourTitle}</h3>
  <p class="leading-normal pt-small">{summary}</p>
</article>
