---
---

<!-- HEADER SECTION -->
<nav>
  <ul class="flex justify-between text-[28px] text-brand-color font-special-elite text-7">
    <!-- <li><img src="" alt="" /></li> -->
    <li class="text-primary-text"><a href="#">Ghosttour</a></li>
    <li><a href="/byvandringer">Byvandringer</a></li>
    <li><a href="/booking">Booking</a></li>
    <li><a href="/omos">Om os</a></li>
    <li><a href="/english">In English</a></li>
  </ul>
</nav>
