---
const { pageTitle, summary } = Astro.props;
---

<section class="grid md:grid-cols-2 gap-large pt-large md:pt-xxlarge">
  <div class="grid gap-large">
    <h1 class="font-dm-sans text-primary-color font-bold text-[44px] sm:text-[68px] md:text-xxxxlarge leading-none">{pageTitle}</h1>
    <p class="md:text-xlarge text-large leading-normal">{summary}</p>
  </div>
</section>
