---
const { testimonial, author, date } = Astro.props;
---

<article class="grid grid-cols-4 gap-x-4">
  <div class="col-span-1">
    <slot />
  </div>
  <div class="col-span-3">
    <p class="text-[#9da3ae] text-[14px]">{date}</p>
    <p class="leading-normal">{testimonial} <br />- {author}</p>
  </div>
</article>
