---
import TestimonialCard from "./TestimonialCard.astro";
---

<h2 class="text-[35px] font-bold pt-64 pb-8">Det siger de om os</h2>

<section class="grid grid-cols-2 gap-16 max-w-screen-lg mx-auto">
  <TestimonialCard date="16/04/2023" testimonial="Ghosttour var en utrolig spændende og underholdende oplevelse! Jeg elskede at udforske Københavns skjulte historier og lære om spøgelseshistorierne og natmændene. Absolut en tur, der både fornøjede og lærte mig noget nyt." author="Anna S.">
    <img src="imgs/testimonial_01.webp" alt="" />
  </TestimonialCard>
  <TestimonialCard date="01/02/2023" testimonial="Ghosttour var en fantastisk aften! Jeg blev overrasket over, hvor meget jeg lærte om natmænd i København. Guiden formidlede historierne på en underholdende måde. Jeg anbefaler Ghosttour til alle, der er interesseret i mysterier og historie." author="Jonas H.">
    <img src="imgs/testimonial_02.webp" alt="" />
  </TestimonialCard>
  <TestimonialCard date="22/07/2022" testimonial="Ghosttour var en sjov og lærerig oplevelse! Guiden var ekspert i spøgelseshistorierne og formåede virkelig at skabe en uhyggelig atmosfære. Jeg nød virkelig turen og lærte meget om Københavns skjulte fortid." author="Sarah M.">
    <img src="imgs/testimonial_03.webp" alt="" />
  </TestimonialCard>
  <TestimonialCard date="19/02/2021" testimonial="At deltage i Ghosttour var en uforglemmelig aften! Jeg blev fuldstændig fanget af fortællingerne om spøgelser og natmænd i indre København. Det var en fantastisk kombination af underholdning og læring." author="Jane K.">
    <img src="imgs/testimonial_04.webp" alt="" />
  </TestimonialCard>
</section>
