---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Special+Elite&display=swap" rel="stylesheet" />
    <title>Ghosttour</title>
  </head>
  <body class="bg-black text-primary-text font-regular leading-none text-[18px]">
    <main class="max-w-screen-xl mx-auto">
      <Nav />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  body {
    background-image: url("imgs/ghosttour_finger-print_02.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: #cccccc;
  }
</style>
